# @robotodio - tweet extractor

---

## Libraries

In [1]:
# Python libraries
# ------------------------------------------------------------------------------
# Reading files with different formats
import json

# Data wrangling
import re
import pandas as pd
import numpy as np

# Twitter API
import tweepy

# NLP
from textblob import TextBlob

# Hate speech detection
from detoxify import Detoxify

## 1. Download data from twitter

The tweepy API class provides access to the entire Twitter RESTful API methods. Each method can accept various parameters and return responses to the different requests.

### 1.1. API set up

In order for you to get the Twitter feed working you need four keys: 

- Consumer Key
- Consumer Secret
- Access Token
- Access Token Secret

If you have a developer Twitter account you can generate your own tokens and log in with them. In case you don't have a developer account, please contact me and I will provide mine.

In [2]:
# API Twitter credentials
# ------------------------------------------------------------------------------
# Open .json file containing credentials/tokens as a dictionary
with open("twitter_api_keys.json") as file:
    api_credentials = json.load(file)
    
# Assign each value of the dictionary to a new variable
consumer_key = api_credentials['consumer_key']
consumer_secret = api_credentials['consumer_secret']
access_token = api_credentials['access_token']
access_token_secret = api_credentials['access_token_secret']

In [3]:
# API set up
# ------------------------------------------------------------------------------
# Create a handler instance with key and secret consumer, and pass the tokens
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
    
# Construct the API instance
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

# Check credentials
if(api.verify_credentials):
    print("Logged In Successfully.")
else:
    print("Error -- Could not log in with your credentials.")

Logged In Successfully.

### 1.2. Extract tweets and associated metadata

Once the `tweepy.API` class has been instantiated we can call its methods to scrap desired information in Twitter.

Pagination is used a lot in Twitter API development. Iterating through timelines, user lists, direct messages, etc. In order to perform pagination, we must supply a page/cursor parameter with each of our requests. The problem here is this requires a lot of boiler plate code just to manage the pagination loop. To help make pagination easier and require less code, Tweepy has the Cursor object.

In first place, we are going to define a function that returns an iterator of tweets. We will call this fuction each time we want to download tweets from an user account.

In [4]:
# Tweets list iterator
# ------------------------------------------------------------------------------
def tweets_iterator(target, n_items):
    '''
    Returns an iterator of tweets.

        Parameters:
            target (str): The user name of the Twitter account.
            n_items (int): Number of tweets downloaded.

        Returns:
            tweets (ItemIterator): an iterator of tweets.
    '''
    # Instantiate the iterator
    tweets = tweepy.Cursor(
        api.user_timeline,
        screen_name=target,
        include_rts=False,
        exclude_replies=False,
        tweet_mode='extended').items(n_items)
    
    # Returns iterator
    return tweets

In the next cell we are going to download $n$ tweets from a Twitter account, and examinate the content of the first tweet with all the metadata associated.

In [5]:
# Introduce the target Twitter account and number of items to download
target = 'DFD_74'
n_items = 20

# Tweets list (iterator)
tweets = tweets_iterator(target, n_items)

for k, tweet in enumerate(tweets):
    print(json.dumps(tweet._json, indent=4))
    if k == 1:
        break

{
    "created_at": "Sat Feb 27 08:08:40 +0000 2021",
    "id": 1365574559055962113,
    "id_str": "1365574559055962113",
    "full_text": "@LaMuy Eres despreciable \nA asco das \nMiserable",
    "truncated": false,
    "display_text_range": [
        7,
        47
    ],
    "entities": {
        "hashtags": [],
        "symbols": [],
        "user_mentions": [
            {
                "screen_name": "LaMuy",
                "name": "Mar\u00eda LaMuy",
                "id": 57667904,
                "id_str": "57667904",
                "indices": [
                    0,
                    6
                ]
            }
        ],
        "urls": []
    },
    "source": "<a href=\"http://twitter.com/download/android\" rel=\"nofollow\">Twitter for Android</a>",
    "in_reply_to_status_id": 1365293506684723206,
    "in_reply_to_status_id_str": "1365293506684723206",
    "in_reply_to_user_id": 57667904,
    "in_reply_to_user_id_str": "57667904",
    "in_reply_to_screen_name": "LaMuy",
    "user": {
        "id": 908629539609341952,
        "id_str": "908629539609341952",
        "name": "Espa\u00f1ol74 (david) \ud83c\uddea\ud83c\uddf8",
        "screen_name": "DFD_74",
        "location": "",
        "description": "Padre orgulloso, marido enamorado, currante, espa\u00f1ol y del atleti. Nadie es perfecto, licenciado en Historia. Afiliado a Vox",
        "url": null,
        "entities": {
            "description": {
                "urls": []
            }
        },
        "protected": false,
        "followers_count": 5790,
        "friends_count": 588,
        "listed_count": 13,
        "created_at": "Fri Sep 15 09:52:18 +0000 2017",
        "favourites_count": 139499,
        "utc_offset": null,
        "time_zone": null,
        "geo_enabled": false,
        "verified": false,
        "statuses_count": 61215,
        "lang": null,
        "contributors_enabled": false,
        "is_translator": false,
        "is_translation_enabled": false,
        "profile_background_color": "F5F8FA",
        "profile_background_image_url": null,
        "profile_background_image_url_https": null,
        "profile_background_tile": false,
        "profile_image_url": "http://pbs.twimg.com/profile_images/1267955029748649991/-k_SYQFm_normal.jpg",
        "profile_image_url_https": "https://pbs.twimg.com/profile_images/1267955029748649991/-k_SYQFm_normal.jpg",
        "profile_banner_url": "https://pbs.twimg.com/profile_banners/908629539609341952/1594929970",
        "profile_link_color": "1DA1F2",
        "profile_sidebar_border_color": "C0DEED",
        "profile_sidebar_fill_color": "DDEEF6",
        "profile_text_color": "333333",
        "profile_use_background_image": true,
        "has_extended_profile": true,
        "default_profile": true,
        "default_profile_image": false,
        "following": false,
        "follow_request_sent": false,
        "notifications": false,
        "translator_type": "none"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "is_quote_status": false,
    "retweet_count": 0,
    "favorite_count": 2,
    "favorited": false,
    "retweeted": false,
    "lang": "es"
}
{
    "created_at": "Fri Feb 26 22:32:59 +0000 2021",
    "id": 1365429684259938306,
    "id_str": "1365429684259938306",
    "full_text": "Los idiotas que se alertan de la subida imparable de Vox, no se dan cuenta que somos los espa\u00f1oles que estamos hasta los cohones de vividores, chorizos e in\u00fatiles que viven a nuestra costa \nCaer\u00e1n todos",
    "truncated": false,
    "display_text_range": [
        0,
        202
    ],
    "entities": {
        "hashtags": [],
        "symbols": [],
        "user_mentions": [],
        "urls": []
    },
    "source": "<a href=\"http://twitter.com/download/android\" rel=\"nofollow\">Twitter for Android</a>",
    "in_reply_to_status_id": null,
    "in_reply_to_status_id_str": null,
    "in_reply_to_user_id": null,
    "in_reply_to_user_id_str": null,
    "in_reply_to_screen_name": null,
    "user": {
        "id": 908629539609341952,
        "id_str": "908629539609341952",
        "name": "Espa\u00f1ol74 (david) \ud83c\uddea\ud83c\uddf8",
        "screen_name": "DFD_74",
        "location": "",
        "description": "Padre orgulloso, marido enamorado, currante, espa\u00f1ol y del atleti. Nadie es perfecto, licenciado en Historia. Afiliado a Vox",
        "url": null,
        "entities": {
            "description": {
                "urls": []
            }
        },
        "protected": false,
        "followers_count": 5790,
        "friends_count": 588,
        "listed_count": 13,
        "created_at": "Fri Sep 15 09:52:18 +0000 2017",
        "favourites_count": 139499,
        "utc_offset": null,
        "time_zone": null,
        "geo_enabled": false,
        "verified": false,
        "statuses_count": 61215,
        "lang": null,
        "contributors_enabled": false,
        "is_translator": false,
        "is_translation_enabled": false,
        "profile_background_color": "F5F8FA",
        "profile_background_image_url": null,
        "profile_background_image_url_https": null,
        "profile_background_tile": false,
        "profile_image_url": "http://pbs.twimg.com/profile_images/1267955029748649991/-k_SYQFm_normal.jpg",
        "profile_image_url_https": "https://pbs.twimg.com/profile_images/1267955029748649991/-k_SYQFm_normal.jpg",
        "profile_banner_url": "https://pbs.twimg.com/profile_banners/908629539609341952/1594929970",
        "profile_link_color": "1DA1F2",
        "profile_sidebar_border_color": "C0DEED",
        "profile_sidebar_fill_color": "DDEEF6",
        "profile_text_color": "333333",
        "profile_use_background_image": true,
        "has_extended_profile": true,
        "default_profile": true,
        "default_profile_image": false,
        "following": false,
        "follow_request_sent": false,
        "notifications": false,
        "translator_type": "none"
    },
    "geo": null,
    "coordinates": null,
    "place": null,
    "contributors": null,
    "is_quote_status": false,
    "retweet_count": 27,
    "favorite_count": 107,
    "favorited": false,
    "retweeted": false,
    "lang": "es"
}

As we can see in the previous output cell, each tweet contains a lot of metadata. All this information comes in .json format, and we can access to it with Tweepy methods, or with dictionary methods.

In the next cell we are going to extract some metadata from each tweet, and export to a Pandas DataFrame format.

In [51]:
# Tweet extractor
# ------------------------------------------------------------------------------
# Tweets list (iterator)
tweets = tweets_iterator(target, n_items)

# Read through the iterator, and export the info to a Pandas DataFrame
all_columns = [np.array([
    tweet.full_text,
    tweet.user.screen_name,
    tweet.id,
    tweet.user.followers_count,
    tweet.source,
    tweet.created_at,
    len(tweet.full_text),
    tweet.favorite_count,
    tweet.retweet_count,
    str(tweet.entities['hashtags'])
]) for tweet in tweets]

# Export the list of tweets to a dataframe
df = pd.DataFrame(
    data=all_columns,
    columns=['tweet', 'account', 'id', 'followers', 'source', 'date', 'length',
              'likes', 'RTs', 'hashtags']
)

df.head()

,tweet,account,id,followers,source,date,length,likes,RTs,hashtags
0,@LaMuy Eres despreciable \nA asco das \nMiserable,DFD_74,1365574559055962113,5790,Twitter for Android,2021-02-27 08:08:40,47,2,0,[]
1,Los idiotas que se alertan de la subida impara...,DFD_74,1365429684259938306,5790,Twitter for Android,2021-02-26 22:32:59,202,108,27,[]
2,Que toman en el pp de alucin√≥genos? \n\nY toda...,DFD_74,1365407486807855111,5790,Twitter for Android,2021-02-26 21:04:47,110,3,3,[]
3,@PabloEchenique Aburres hasta los muertos \nTi...,DFD_74,1365406939295985668,5790,Twitter for Android,2021-02-26 21:02:37,133,26,2,[]
4,@JqManso El mundo mintiendo otra vez m√°s \nDa ...,DFD_74,1365403476394704898,5790,Twitter for Android,2021-02-26 20:48:51,73,2,0,[]

In addition, we are going to create another dataframe with the main data of the target account:

In [52]:
# Main data extractor
# ------------------------------------------------------------------------------
# Tweets list (iterator)
tweets = tweets_iterator(target, n_items=1)

# Read through the iterator, and export the info to a Pandas DataFrame
data_account = [np.array([
    tweet.user.screen_name,
    tweet.user.name,
    tweet.user.description,
    tweet.user.created_at,
    tweet.user.friends_count,
    tweet.user.followers_count,
    tweet.user.statuses_count
]) for tweet in tweets]

# Export the list of features to a dataframe
df_account = pd.DataFrame(
    data=data_account,
    columns=['account', 'name', 'description', 'creation_date', 'friends',
             'followers', 'tweets']
)

df_account = pd.melt(df_account)
df_account

        variable                                              value
0        account                                             DFD_74
1           name                               Espa√±ol74 (david) üá™üá∏
2    description  Padre orgulloso, marido enamorado, currante, e...
3  creation_date                                2017-09-15 09:52:18
4        friends                                                588
5      followers                                               5790
6         tweets                                              61215

### 1.3. Clean and translation

Once we have a dataset with all the tweets of an user, we need to prepare and clean them to serve as input to the model. For each tweet we are going to eliminate special string characters, and we will translate them into English in case they are not.

The traduction is needed for two mains reasons:

- Make a more robust and extensible app
- Detoxify model provides more information when the input is in english language

**Cleaning:**

In [53]:
# Characters to remove
spec_chars = ['\n', '\t', '\r']

In [54]:
# Replace defined characters with a whitespace
for char in spec_chars:
    df['tweet'] = df['tweet'].str.strip().replace(char, ' ')

Because we replaced the special characters with a whitespace, we might end up with double whitespaces in some values. Let‚Äôs remove them by splitting each tweet using whitespaces and re-joining the words again using join.

In [55]:
# Split and re-join each tweet
df['tweet'] = df['tweet'].str.split().str.join(" ")

In [56]:
df.head()

,tweet,account,id,followers,source,date,length,likes,RTs,hashtags
0,@LaMuy Eres despreciable A asco das Miserable,DFD_74,1365574559055962113,5790,Twitter for Android,2021-02-27 08:08:40,47,2,0,[]
1,Los idiotas que se alertan de la subida impara...,DFD_74,1365429684259938306,5790,Twitter for Android,2021-02-26 22:32:59,202,108,27,[]
2,Que toman en el pp de alucin√≥genos? Y todav√≠a ...,DFD_74,1365407486807855111,5790,Twitter for Android,2021-02-26 21:04:47,110,3,3,[]
3,@PabloEchenique Aburres hasta los muertos Tien...,DFD_74,1365406939295985668,5790,Twitter for Android,2021-02-26 21:02:37,133,26,2,[]
4,@JqManso El mundo mintiendo otra vez m√°s Da ig...,DFD_74,1365403476394704898,5790,Twitter for Android,2021-02-26 20:48:51,73,2,0,[]

**Translation:**

Finally we translate them into English. For carrying out this task, we are going to use the TextBlob library, which is a module for processing textual data. It provides a simple API for diving into common natural language processing (NLP) tasks such as part-of-speech tagging, noun phrase extraction, sentiment analysis, classification, translation, and more.

In the next cell we can see an example of translation:

In [57]:
# Translation example
text = "Esta frase est√° en espa√±ol y queremos traducirla al ingl√©s."
translated_text = TextBlob(text).translate(to="en").string
translated_text

'This sentence is in Spanish and we want to translate it into English.'

In order to automate the translation, we define a snippet of code to infer the Twitter's account origin language.

In [58]:
# Main language detection
# ------------------------------------------------------------------------------
# Detect the language of each tweet
df['org_language'] = df['tweet'].apply(
    lambda tweet: TextBlob(tweet).detect_language())

# Summary of the different languages
freq_languages = df[['id', 'org_language']].groupby(["org_language"])\
                                           .count()\
                                           .sort_values(["org_language"])\
                                           .reset_index()

# Most common language
main_language = freq_languages.values[0][0]
print(f"The most common language in @{target} account is {main_language}.")

The most common language in @DFD_74 account is es.

In [59]:
# Translation
# ------------------------------------------------------------------------------
# Instance a np.array variable that contains all tweets
tweets = np.array(df['tweet'])

# We apply the TextBlob translation to each tweet of the previous np.array
tweets_en = list(map(lambda tweet: TextBlob(tweet).translate(from_lang=main_language, to='en').string, tweets))

# Create another pandas column with the transalation values
df['tweet_en'] = tweets_en

In [60]:
df.head()

,tweet,account,id,followers,source,date,length,likes,RTs,hashtags,org_language,tweet_en
0,@LaMuy Eres despreciable A asco das Miserable,DFD_74,1365574559055962113,5790,Twitter for Android,2021-02-27 08:08:40,47,2,0,[],es,@LaMuy You are despicable A disgusting you are...
1,Los idiotas que se alertan de la subida impara...,DFD_74,1365429684259938306,5790,Twitter for Android,2021-02-26 22:32:59,202,108,27,[],es,The idiots who are alerted to the unstoppable ...
2,Que toman en el pp de alucin√≥genos? Y todav√≠a ...,DFD_74,1365407486807855111,5790,Twitter for Android,2021-02-26 21:04:47,110,3,3,[],es,Who take in the pp of hallucinogens? And there...
3,@PabloEchenique Aburres hasta los muertos Tien...,DFD_74,1365406939295985668,5790,Twitter for Android,2021-02-26 21:02:37,133,26,2,[],es,@PabloEchenique You bore to the dead You have ...
4,@JqManso El mundo mintiendo otra vez m√°s Da ig...,DFD_74,1365403476394704898,5790,Twitter for Android,2021-02-26 20:48:51,73,2,0,[],es,@JqManso The world lying again no matter when ...

## 2. Hate speech level prediction

`Detoxify` library has three pre-trained models:

- original: toxic, severe_toxic, obscene, threat, insult, identity_hate.
- unbiased: toxicity, severe_toxicity, obscene, threat, insult, identity_attack, sexual_explicit.
- multilingual: toxicity

While *original* and *unbiased* models generate different scorings like: toxicity, obscene, threat, insult...etc, *multilingual* model only produces a toxicity scoring. On the other hand, *multilingual* model is the only one that can bring a toxicity score in a language different from english.

Thanks to translation, we can use *original* or *unbiased* model independently from the tweets origin language.

In [61]:
# Hate speech level prediction
# ------------------------------------------------------------------------------
# Returns a dictionary with toxicity values of each tweet. The keys of the
# dictionary are called 'toxicity', 'obscene'...etc
results = Detoxify('original').predict(list(df['tweet_en']))
results

{'toxicity': [0.9647840261459351,
  0.973308801651001,
  0.0022345962934195995,
  0.7605370879173279,
  0.013281521387398243,
  0.01974884420633316,
  0.9745989441871643,
  0.6810771822929382,
  0.009596984833478928,
  0.9319608211517334,
  0.0009022983140312135,
  0.0014949142932891846,
  0.8648038506507874,
  0.0031050562392920256,
  0.22857268154621124,
  0.0007731554214842618,
  0.008674468845129013,
  0.1819448620080948,
  0.005740445572882891,
  0.41939249634742737],
 'severe_toxicity': [0.006988096982240677,
  0.08976218849420547,
  9.09119044081308e-05,
  0.0018584170611575246,
  9.865137690212578e-05,
  0.00010276897228322923,
  0.04157593846321106,
  0.003911942709237337,
  0.00010719172860262915,
  0.022784337401390076,
  0.00010690357157727703,
  9.219614003086463e-05,
  0.007149782497435808,
  8.701199112692848e-05,
  0.0007667197496630251,
  0.00010751757508842275,
  9.277273784391582e-05,
  0.00021172824199311435,
  9.651927393861115e-05,
  0.0015962807228788733],
 'obscene': [0.1650247871875763,
  0.4210111200809479,
  0.0002112430811394006,
  0.029750945046544075,
  0.0005588132771663368,
  0.0004073804593645036,
  0.8814585208892822,
  0.20383460819721222,
  0.000373533257516101,
  0.8398928642272949,
  0.00017130770720541477,
  0.00018468451162334532,
  0.09464838355779648,
  0.0002688283857423812,
  0.04245906323194504,
  0.0001696931867627427,
  0.00046056724386289716,
  0.0010489163687452674,
  0.0004122587270103395,
  0.005594644695520401],
 'threat': [0.0015579699538648129,
  0.1802559494972229,
  0.00011666731734294444,
  0.011172471567988396,
  0.00018068750796373934,
  0.0002459088573232293,
  0.0009674232569523156,
  0.0019882244523614645,
  0.00015095583512447774,
  0.0008507771999575198,
  0.00012679323845077306,
  0.00010551002196734771,
  0.006890600081533194,
  9.804198634810746e-05,
  0.0006895983824506402,
  0.00011438888031989336,
  0.0001356330030830577,
  0.0006535298889502883,
  0.00014522488345392048,
  0.001129722106270492],
 'insult': [0.8304536938667297,
  0.6424938440322876,
  0.00022519142657984048,
  0.2271830290555954,
  0.0005134071107022464,
  0.000815221865195781,
  0.8958825469017029,
  0.45722249150276184,
  0.00041976230568252504,
  0.7394556999206543,
  0.00017622851009946316,
  0.00021017948165535927,
  0.4570804834365845,
  0.00024584439233876765,
  0.006079268176108599,
  0.00017465304699726403,
  0.0004774675180669874,
  0.006237711291760206,
  0.00033311772858724,
  0.073016457259655],
 'identity_hate': [0.008877855725586414,
  0.6607398390769958,
  0.00017350210691802204,
  0.010606566444039345,
  0.0002403188991593197,
  0.0003842230362351984,
  0.01067999005317688,
  0.018714427947998047,
  0.0003827887703664601,
  0.00895262323319912,
  0.00013996975030750036,
  0.00014810188440605998,
  0.15777498483657837,
  0.00015528695075772703,
  0.001260149641893804,
  0.00014115592057351023,
  0.0002011855540331453,
  0.003550720401108265,
  0.00018360100511927158,
  0.06429098546504974]}

In [62]:
# Add the new info to the previous DataFrame
df['toxicity'] = results['toxicity']
df['obscene'] = results['obscene']
df['threat'] = results['threat']
df['insult'] = results['insult']
df['identity_hate'] = results['identity_hate']

df.head()

,tweet,account,id,followers,source,date,length,likes,RTs,hashtags,org_language,tweet_en,toxicity,obscene,threat,insult,identity_hate
0,@LaMuy Eres despreciable A asco das Miserable,DFD_74,1365574559055962113,5790,Twitter for Android,2021-02-27 08:08:40,47,2,0,[],es,@LaMuy You are despicable A disgusting you are...,0.964784,0.165025,0.001558,0.830454,0.008878
1,Los idiotas que se alertan de la subida impara...,DFD_74,1365429684259938306,5790,Twitter for Android,2021-02-26 22:32:59,202,108,27,[],es,The idiots who are alerted to the unstoppable ...,0.973309,0.421011,0.180256,0.642494,0.660740
2,Que toman en el pp de alucin√≥genos? Y todav√≠a ...,DFD_74,1365407486807855111,5790,Twitter for Android,2021-02-26 21:04:47,110,3,3,[],es,Who take in the pp of hallucinogens? And there...,0.002235,0.000211,0.000117,0.000225,0.000174
3,@PabloEchenique Aburres hasta los muertos Tien...,DFD_74,1365406939295985668,5790,Twitter for Android,2021-02-26 21:02:37,133,26,2,[],es,@PabloEchenique You bore to the dead You have ...,0.760537,0.029751,0.011172,0.227183,0.010607
4,@JqManso El mundo mintiendo otra vez m√°s Da ig...,DFD_74,1365403476394704898,5790,Twitter for Android,2021-02-26 20:48:51,73,2,0,[],es,@JqManso The world lying again no matter when ...,0.013282,0.000559,0.000181,0.000513,0.000240

Once we have a score for each tweet, we can aggregate these puntuactions by calculating the average.

In [63]:
scoring_average = {'variable': ['avg_toxicity',
                             'avg_obscene', 
                             'avg_threat',
                             'avg_insult',
                             'avg_identity_hate'],
                   'value': [sum(df['toxicity'])/len(df),
                             sum(df['obscene'])/len(df),
                             sum(df['threat'])/len(df),
                             sum(df['insult'])/len(df),
                             sum(df['identity_hate'])/len(df)]
                   }

df_average = pd.DataFrame(scoring_average)
df_average

            variable     value
0       avg_toxicity  0.352327
1        avg_obscene  0.134397
2         avg_threat  0.010379
3         avg_insult  0.216935
4  avg_identity_hate  0.047380

In [64]:
df = pd.concat([df_account, df_average])
df

            variable                                              value
0            account                                             DFD_74
1               name                               Espa√±ol74 (david) üá™üá∏
2        description  Padre orgulloso, marido enamorado, currante, e...
3      creation_date                                2017-09-15 09:52:18
4            friends                                                588
5          followers                                               5790
6             tweets                                              61215
0       avg_toxicity                                           0.352327
1        avg_obscene                                           0.134397
2         avg_threat                                           0.010379
3         avg_insult                                           0.216935
4  avg_identity_hate                                           0.047380

## 3. Data explotation

## X. Bibliograf√≠a

- http://docs.tweepy.org/en/latest/
- https://github.com/unitaryai/detoxify

## X. Info a revisar

- Limpieza de datos con regex: http://rios.tecnm.mx/cdistribuido/recursos/MinDatScr/MineriaScribble.html
- Web objetivo: https://www.ninjalitics.com/


- Traduction --> TextBlob
- Sentiment Analysis --> TextBlob
- Universal Dependencies --> GSD

Preparar un traductor con TextBlob:

TextBlob tambi√©n tiene an√°lisis de opini√≥n:

In [ ]:
# an√°lisis de opini√≥n
opinion1 = TextBlob("This new restaurant is great. I had so much fun!!")
print(opinion1.sentiment)

opinion2 = TextBlob("Google News to close in Spain.")
print(opinion2.sentiment)

# subjetividad 0:1
# polaridad -1:1

In [ ]:
from textblob.sentiments import NaiveBayesAnalyzer

sentences = [
    "I enjoy sports.",
    "Pizza and pasta are my favorite food.",
    "The hotel was horrible.",
    "The movie was awesome. Wonderful play!",
    "Worst actors I've seen in my whole life"
]

for sentence in sentences:
    t = TextBlob(sentence, analyzer=NaiveBayesAnalyzer())
    print(f"{sentence}\nsubj: {t.sentiment}\n")

Y correcci√≥n ortogr√°fica:

In [ ]:
#  correcci√≥n ortogr√°fica
b1 = TextBlob("I havv goood speling!")
print(b1.correct())

b2 = TextBlob("Miy naem iz Jonh!")
print(b2.correct())

b3 = TextBlob("Boyz dont cri")
print(b3.correct())

b4 = TextBlob("psicological posesion achifmen comitment")
print(b4.correct())